{% extends 'base.html.twig' %}

{% block title %}Edit InvoiceProduct{% endblock %}

{% block body %}
    <h1>Edit InvoiceProduct</h1>

    {{ include('invoice_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('invoice_product_index') }}">back to list</a>

    {{ include('invoice_product/_delete_form.html.twig') }}
{% endblock %}
