{% extends 'base.html.twig' %}

{% block title %}New InvoiceProduct{% endblock %}

{% block body %}
    <h1>Create new InvoiceProduct</h1>

    {{ include('invoice_product/_form.html.twig') }}

    <a href="{{ path('invoice_product_index') }}">back to list</a>
{% endblock %}
