{% extends 'base.html.twig' %}

{% block title %}Tax{% endblock %}

{% block body %}
    <h1>Tax</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tax.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tax.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ tax.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tax_index') }}">back to list</a>

    <a href="{{ path('tax_edit', {'id': tax.id}) }}">edit</a>

    {{ include('tax/_delete_form.html.twig') }}
{% endblock %}
