{% extends 'base.html.twig' %}

{% block title %}Row index{% endblock %}

{% block body %}
    <h1>Row index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>
                    <a href="{{ path('row_show', {'id': row.id}) }}">show</a>
                    <a href="{{ path('row_edit', {'id': row.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('row_new') }}">Create new</a>
{% endblock %}
