{% extends 'base.html.twig' %}

{% block title %}Row{% endblock %}

{% block body %}
    <h1>Row</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ row.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('row_index') }}">back to list</a>

    <a href="{{ path('row_edit', {'id': row.id}) }}">edit</a>

    {{ include('row/_delete_form.html.twig') }}
{% endblock %}
