{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    Invoices for {{ user }}<br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Invoice date</th>
            <th scope="col">Payment date</th>
            <th scope="col">Payment status</th>
            <th scope="col">Total paid</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoice %}
        <tr>
            <td scope="row">{{ invoice.date|date('d-m-Y') }}</td>
            <td>{{ invoice.datepaid|date('d-m-Y') }}</td>
            <td>{% if invoice.paid == 1 %}Paid{% else %}Not paid {% endif %}</td>
            <td>€{{ invoice.total }}</td>
            <td><a href="{{ path('user_see_invoice', {id : invoice.id}) }}" class="btn btn-success pull-right">See invoice</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
