{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product description</th>
                <th scope="col">Product price</th>
                <th scope="col">Product quantity</th>
                <th scope="col">Product total</th>
            </tr>
            </thead>
            <tbody>
            {% for row in row %}
                <tr>
                    <td>{{ row.product.description }}</td>
                    <td>€{{ row.product.price }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>€{{ row.quantity * row.product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Invoice date</th>
                <th scope="col">Payment date</th>
                <th scope="col">Payment status</th>
                <th scope="col">Total paid</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoice %}
                <tr>
                    <td scope="row">{{ invoice.date|date('d-m-Y') }}</td>
                    <td>{{ invoice.datepaid|date('d-m-Y') }}</td>
                    <td>{% if invoice.paid == 1 %}Paid{% else %}Not paid {% endif %}</td>
                    <td>€{{ invoice.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
